body {
  font-family: 'Mulish', sans-serif;
}
.max-height {
  max-height: none !important;
}
.nav-item-color {
  color: #0d2d3e;
}
.color,
.process-color,
.number-color {
  color: #6785ff !important;
}
.background-color,
button.is-rounded {
  background-color: #6785ff !important;
}
.line {
  padding-right: 12px;
  margin-right: 8px;
  border-right: 2px solid #eee;
  min-height: 1.5rem;
}
.hero-background {
  background-image: url('/images/h1_hero.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.heading-1 {
  font-size: 70px;
  max-width: 41rem;
}
p.has-text-weight-normal {
  font-size: 27px;
}
button.is-rounded {
  border: none;
  padding: 2rem 2.5rem !important;
}
.anchor,
.heading-color,
.fa-heart {
  color: #1c165c;
}
.paragraph {
  color: #57667e;
  line-height: 30px;
}
.horizontal-line {
  border-bottom: 1px solid #dee2e6;
}
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background-image {
  background-image: url('/images/background-container-image.png');
}
.background {
  background-image: url('/images/section_bg01.png.webp');
  background-position: center;
  background-size: cover;
}
.testimonial {
  transform: scale(0.6);
  opacity: 0.4;
}
.icons {
  color: #fbba42 !important;
  font-size: 15px;
}
.icon.is-large {
  background-color: rgba(103, 133, 255, 0.08);
  border-radius: 100%;
}
.footer-image {
  background-image: url('/images/footer-bg.png');
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .footer-image {
    background-size: contain;
    background-position: bottom;
    padding-bottom: 0 !important;
  }
  .footer-paragraph {
    font-size: 14px;
  }
}
